<input class="tag-filter-input" type="radio" id="post-filter-all" name="post-filter" value="" checked />
{{ range $taxonomyName, $taxonomy := index .Site.Taxonomies "tags" }}
    {{ $taxonomySlug := $taxonomyName | lower }}
    <input class="tag-filter-input" type="radio" id="post-filter-{{$taxonomySlug}}" name="post-filter" value="{{ $taxonomySlug }}" />
{{ end }}
<div class="tags">
    <label class="tag" for="post-filter-all" aria-label="Show all posts">All</label>
    {{ range $taxonomyName, $taxonomy := index .Site.Taxonomies "tags" }}
        {{ $taxonomySlug := $taxonomyName | lower }}
        {{ with $.Site.GetPage (printf "/tags/%s" $taxonomySlug) }}
            <label class="tag" for="post-filter-{{$taxonomySlug}}" aria-label="Show only posts in {{ .Title }}">{{ .Title  }}</label>
        {{ end }}
    {{ end }}
</div>